*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
menu{
    list-style: none;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
    color: currentColor;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* UTILITIES */

.flex{
    display: flex;
}

.flex__wrap{
    flex-wrap: wrap;
}

.flex__column{
    flex-direction: column;
}

.align-start{
    align-items: flex-start;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

/* LAYOUT */

.container-lg{
    width: 100%;
}

.container{
    width: 70%;
    margin: 0 auto;
}

.container-sm{
    width: 60%;
    margin: 0 auto;
}

.col-30{
    width: 30%;
}

.col-40{
    width: 40%;
}

.col-60{
    width: 60%
}

.col-70{
    width: 70%;
}

.col-100{
    width: 100%;
}

/* HEADER */

.main-header{
    padding: 15px;
}

.main-header .logo{
    display: block;
}

.main-header .list-items{
    padding: 0 20px;
    line-height: 30px;
}

.main-header button{
    padding: 8px 15px;
}

/* FEATURES */

button{
    border: none;
    color: #ffffff;
    background-color: #2361ff;
    padding: 15px;
}

/* MAIN SECTION */

/* HERO Section*/

.hero{
    background-color: #b4d0e7;
}

.hero .row{
    padding-top: 100px;
    padding-bottom: 10px;
}

.hero .hero__title{
    font-size: 70px;
}

.hero .hero__content{
    padding-top: 50px;
}

.hero__content button{
    margin-bottom: 20px;
    font-size: 16px;
}

.hero__content .hero__description{
    margin-bottom: 50px;
}

.hero__content button + span{
    margin-bottom: auto;
}

.hero__down-arrow{
    font-size: 50px;
}

/* PLANS Section */

.plans__title{
    font-size: 30px;
    padding: 50px 0;
}

.plans form > *{
    display: inline-block;
    margin-right: 50px;
    margin-bottom: 50px;
}

.plan__cards{
    border: 1px solid lightgrey;
    width: 32%;
}

.plan__cards-title{
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid lightgrey;
}

.plan__cards-info span{
    display: block;
}

.plan__cards-info > *,
.plan__cards-inclusion > *,
.plan__cards-description > *{
    padding: 15px 30px;
}

.plan__cards:last-child{
    width: 100%;
    margin: 30px 0;
}

.plan__cards .fa-check{
    color: #2361ff;
}

.plan__button{
    width: 100%;
    line-height: 30px;
    margin-bottom: 30px;
}

.plan__button + span a{
    color: blue;
    text-decoration: underline;
}

.plan__buy-btn{
    display: block;
    padding-bottom: 30px;
    border-bottom: 1px solid lightgrey;
}

.plan__cards h2 + span{
    font-weight: 700;
}

.plan__cards-info{
    width: 60%;
}

.plan__cards-btn{
    width: 40%;
    padding-top:15px;
    padding-right: 30px;
}

/* PARTNER Section */

.partner{
    margin: 100px 0;
}

.partner__description{
    padding: 50px 40px;
}

.partner__description h1{
    padding-bottom: 20px;
}

.partner__button{
    margin-top: 30px;
    background-color: #ffffff;
    color: black;
    border: 1px solid black;
}

/* BUSINESS Section */

.business{
    margin: 100px 0;
}

.business .row div[class^="col"]{
    margin: 40px 0;
}

.business__header{
    width: 100%;
}

.business__title{
    font-size: 30px;
}

.business__card-content p{
    margin-top: 30px;
}

/* CLIENTS Section */

.clients{
    margin: 100px 0; 
}

.clients__title{
    font-size: 30px;
}

.clients__title + span{
    display: inline-block;
    margin-top: 30px;
    color: blue;
    text-decoration: underline;
}



