*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
menu{
    list-style: none;
}

img{
    max-width: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* LAYOUT */

.container-lg{
    width: 100%;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.container-sm{
    width: 70%;
    margin: 0 auto;
}