*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
menu{
    list-style: none;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
    color: currentColor;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* UTILITIES */

.flex{
    display: flex;
}

.flex__wrap{
    flex-wrap: wrap;
}

.flex__column{
    flex-direction: column;
}

.align-start{
    align-items: flex-start;
}

.align-center{
    align-items: center;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.align__end{
    align-items: flex-end;
}

/* LAYOUT */

.container{
    max-width: 1224px;
    margin: 0 auto;
}

.container-sm{
    max-width: 1024px;
    margin: 0 auto;
}

.container, .container-sm, .container-lg{
    width: 100%;
    margin: 0 auto;
}

.col-4{
    width: calc(4 * 100% / 12);
}

.col-30{
    width: 30%;
}

.col-40{
    width: 40%;
}

.col-60{
    width: 60%
}

.col-70{
    width: 70%;
}

.col-100{
    width: 100%;
}

.plans,
.partner,
.business,
.clients,
.questions-box{
    margin: 150px 0;
}

/* HEADER */

.main-header{
    background-color: #ffffff;
    padding: 0 12px
}

.main-header nav .logo{
    display: block;
}

.main-header nav{
    min-height: 80px;
}

.main-header__menu li > a:not(.logo) {
	display: block;
	line-height: 34px;
	padding: 0 20px;
}

.main-header__menu li > .logo {
	padding-right: 20px;
}

/* FEATURES */

button{
    border: none;
    color: #ffffff;
    background-color: #2361ff;
    line-height: 30px;
    padding: 0 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    opacity: 0.75;
}

/* HERO Section*/

.hero{
    background-color: #b4d0e7;
    padding: 90px 0 20px 0;
}

.hero .hero__title{
    font-size: 80px;
}

.hero .hero__content{
    position: relative;
    bottom: -100px;
}

.hero .hero__description{
    gap: 20px;
}

.hero__down-arrow{
    font-size: 50px;
    margin-top: auto;
    margin-bottom: 100px;
}

/* PLANS Section */

.plan__header > *{
    margin-top: 30px;
}

.plan__header .plans__title{
    font-size: 40px;
}

.plan__header form > *{
    display: inline-block;
    margin-right: 50px;
}

.plan__body{
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0;
}

.plan__body div[class^="col"]{
    padding-right: 10px;
}

.plan__body div.col-100{
    padding-top: 10px;
}

.plan__body .plan__card{
    height: 100%;
    border: 1px solid lightgrey; 
}

.plan__body .plan__card > *:not(.plan__card-header){
    padding-right: 30px;
    padding-left: 30px;
}

.plan__card .plan__card-header{
    text-align: center;
    border-bottom: 1px solid lightgrey;
    padding: 20px;
}

.plan__card .plan__card-body > *{
    margin: 30px 0;
}

.plan__card-body .plan__card-info h2 + span{
    font-weight: 700;
}

.plan__card-body ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.plan__card-body span{
    display: block;
}

.plan__card-body .fa-check{
    color: #2361ff;
}

.plan__card-body .plan__card-description{
    padding-bottom: 100px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.plan__card-body .plan__card-info,
.plan__card-body .plan__card-info p{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.plan__card-button button{
    width: 100%;
    margin-bottom: 40px;
}

.plan__card-button:not(.plan__body .col-100 .plan__card-button)::after{
    content: "";
    width: 80px;
    height: 1px;
    margin: 40px 0;
    background-color: lightgray;
    display: block;
}

.plan__card-button span a{
    color: blue;
    text-decoration: underline;
}

.plan__body .col-100 .plan__card-info{
    padding-bottom: 30px;
    width: 70%;
}

.plan__body .col-100 .plan__card-button{
    width: 30%;
}

/* PARTNER Section */

.partner__description{
    padding: 50px 40px;
}

.partner__description h1{
    padding-bottom: 20px;
}

.partner__button{
    margin-top: 30px;
    background-color: #ffffff;
    color: black;
    border: 1px solid black;
} */

/* BUSINESS Section */

.business .row div[class^="col"]{
    margin: 40px 0;
}

.business__header{
    width: 100%;
}

.business__title{
    font-size: 40px;
}

.business__card-content p{
    margin-top: 30px;
}

/* CLIENTS Section */

.clients{
    margin: 100px 0; 
}

.clients__title{
    font-size: 40px;
}

.clients__title + span{
    display: inline-block;
    margin-top: 30px;
    color: blue;
    text-decoration: underline;
}

/* COMPANIES Section */

.companies div.col-4:not(:nth-child(2)) div{
    width: 50%;
    aspect-ratio: 1 / 1;
    padding: 50px;
} 

.companies div.col-4:nth-child(2){
    aspect-ratio: 1 / 1;
    overflow: auto;
}

.companies .row{
    display: flex;
}

.companies img:not(.brand__designit-black>img){
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.companies .brand__designit-black{
    background-color: #F5F5F5;
    height: 100%;
    padding: 50px;
    font-size: 15px;
}

.companies .brand__designit-black span{
    display: block;
}

.companies .brand__designit-black span,
.companies .brand__designit-black p{
    margin-top: 35px;
}

.companies .brand__designit{
    background-color: #A2D39B;
}

.companies .brand__arizona{
    background-color: #61092B;
}

.companies .brand__florida{
    background-color: #0093CE;
}

.companies .brand__topps{
    background-color: #FF1B1C;
}

.companies .brand__bicycle{
    background-color: #D5001F;
}

.companies .brand__heartscorp{
    background-color: #B3D0E7;
}

.companies .brand__lonelyplanet{
    background-color: #0E2381;
}

.companies .brand__clearchannel{
    background-color: #FFD72F;
}

/* FREE TRIAL Section */

.free-trial{
    background-color: #b4d0e7;
}

.free-trial .row{
    padding: 150px 0;
}

.free-trial__title{
    font-size: 40px;
    color: #61092B;
}

.free-trial button{
    background-color: #ffffff;
    color: black;
    width: 70%;
}

/* QUESTIONS-BOX Section */

.questions-box__title{
    font-size: 40px;
    padding: 20px 0;
}

.questions-box li{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.questions-box li a{
    width: 10%;
    text-align: center;
    display: block;
}

.questions-box li:not(:first-child){
    border-top: 1px solid black;
}

.questions-box li:last-child{
    border-bottom: 1px solid black;
}

/* FOOTER */

.main-footer{
    background-color: black;
    color: white;
    padding: 80px 0;
}

.main-footer .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-footer .row:last-child{
    margin-top: 100px;
}

.main-footer .row:last-child .language-selection::before{
    content: "";
    width: 100px;
    height: 1px;
    margin-bottom: 30px;
    background-color: white;
    display: block;
}

.main-footer h2{
    margin-bottom: 20px;
}

.main-footer ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-footer select{
    background-color: black;
    color: white;
    border: none;
}

.main-footer .fa-minus{
    display: block;
    margin-bottom: 50px;
}

/* ANIMATION */
.bounce{
    animation-name: bounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes bounce{
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(0px);
    }
}

.slide-in{
    animation-name: slide-in;
    animation-duration: 0.8s;
}

@keyframes slide-in{
    0%{
        opacity:0;
        transform: translateX(200px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.filter-shadow:hover{
    filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.5));
}